.custom-ribbon {
  position: absolute;
  pointer-events: none;
  width: 70px; /* Diameter of the circle */
  height: 70px; /* Diameter of the circle */
  border-radius: 50%; /* Makes the shape circular */
  background-color: rgba(128, 0, 128, 0.1); /* Transparent purple color */
  transform: translate(-50%, -50%); /* Center the circle around the pointer */
  border: 2px solid purple; /* Change border properties as needed */
  z-index: 10000;
}

/* Add a CSS class for the flash effect */
.button-container {
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.message-box-fail {
  display: flex; /* Use flexbox for centering content*/
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 20%;
  z-index: 9999; /*High z-index value to appear above all other content*/
  transform: translate(-50%, -50%);
  color: #DC143C;
  background-color: #FFE5E5;
  border: 1px solid #DC143C;
  border-radius: 3px;
  padding: 10px 10px ;
}
